# Python Files
*/__pycache__/
.venv/

# Project Files
nifi_files/
nifi_config/*.jar
postgres/
pgadmin/
logs/

# Data Sets
code_examples/*/*.csv
code_examples/*/*.json
dags/*.csv
dags/*.json
!scooter.csv
!geocodestreet.csv