[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
ipython = "*"
pandas = "*"
apache-airflow = {extras = ["postgres"], version = "*"}
elasticsearch = "*"

[dev-packages]

[requires]
python_version = "3.9"
