[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
ipython = "*"
pandas = "*"
apache-airflow = {extras = ["postgres"], version = "*"}
elasticsearch = "*"
great-expectations = "*"
jupyter = "*"
sqlalchemy = "< 1.4.0"  # Great Expectations incampatible with >= 1.4.0

[dev-packages]

[requires]
python_version = "3.9"
